<app-header></app-header>
<app-search-bar></app-search-bar>

<section class="cart">
    <h1>Mi Compra</h1>
    <div class="cart-item">
        <div class="cart-item-left">
            <img class="cart-item-left-img" src="../../../../assets/img/imagen1.jpg" alt="">
            <h3 class="cart-item-left-product">Harina 000 dassadsdaasddas</h3>
        </div>
        <div class="cart-item-right">
            <div class="cart-item-right-btns">
                <button class="btn-action btn-small btn-cart-op" (click)="onSubtractItem()">-</button>
                <p class="cart-item-right-btns-value">{{counter}}</p>
                <button class="btn-action btn-small btn-cart-op"(click)="onAddItem()">+</button>
            </div>
            <h2>$750</h2>
        </div>
    </div>

    <div class="cart-item">
        <div class="cart-item-left">
            <img class="cart-item-left-img" src="../../../../assets/img/imagen1.jpg" alt="">
            <h3 class="cart-item-left-product">Harina 000 dassadsdaasddas</h3>
        </div>
        <div class="cart-item-right">
            <div class="cart-item-right-btns">
                <button class="btn-action btn-small btn-cart-op">-</button>
                <p>10</p>
                <button class="btn-action btn-small btn-cart-op">+</button>
            </div>
            <p>$750</p>
        </div>
    </div>
</section>
