<div class="product-grid-container">


    <div class="product-grid-search-info">
        <p class="product-grid-search-info-name">Buscaste {{productWanted}}</p>
        <span>|</span>
        <p class="product-grid-search-info-result">Encontramos 5 productos</p>
    </div>
    <div class="product-grid">

        <app-product-grid-item></app-product-grid-item>
        <app-product-grid-item></app-product-grid-item>
        <app-product-grid-item></app-product-grid-item>
        <app-product-grid-item></app-product-grid-item>
    </div>
</div>