<div class="product-grid-item-container" (click)="onClick()">
    <div class="offers-number">
        <p>1,1 km</p>
    </div>
    <section class="product-grid-item">
        <!-- <img *ngIf="imaurl" [src]="imaurl" alt="test" class="product-grid-item-img"> -->
        <img src="{{imaurl}}" alt="test" class="product-grid-item-img">
        <!-- <img src="../../../../assets/img/imagen1.jpg" alt="test" class="product-grid-item-img"> -->
        <div class="product-grid-item-info">
            <h4 class="product-grid-item-info-title">{{offer.nameProduct}}
            </h4>
            <div class="product-grid-item-info-price" *ngIf="isDiscountPrice;else percentageDiscount">
                <p class="product-grid-item-info-price-old">${{offer.oldPrice}}</p>
                <div class="product-grid-item-info-price-new">
                    <p class="product-grid-item-info-price-new-number">${{offer.price}}</p>
                    <p class="product-grid-item-info-price-new-dto">%{{offer.discount.toFixed(0)}}</p>
                </div>
            </div>
            <ng-template class="product-grid-item-info-price" #percentageDiscount>
                <p>$1500</p>
                <p>$99</p>
            </ng-template>
            <!-- <div class="product-grid-item-info-action">
                <button class="btn-bordered btn-small btn-add-cart">Agregar al carrito</button>
            </div> -->
        </div>
    </section>
</div>