<div class="product-grid-item-container" (click)="onClick()">
    <div class="offers-number">
        <p>1,1 km</p>
    </div>
    <section class="product-grid-item">
        <img src="../../../../assets/img/7792180134516_02.jpg" alt="" class="product-grid-item-img">
        <div class="product-grid-item-info">
            <h4 class="product-grid-item-info-title">Harina Pureza Refinada
                
            </h4>
            <div class="product-grid-item-info-price" *ngIf="isDiscountPrice;else percentageDiscount">
                <p class="product-grid-item-info-price-old">$199</p>
                <p class="product-grid-item-info-price-new">$99</p>
            </div>
            <ng-template class="product-grid-item-info-price" #percentageDiscount>
                <p>$1500</p>
                <p>$99</p>
            </ng-template>
            <div class="product-grid-item-info-action">
                <button class="btn-action btn-small">Agregar al carrito</button>
            </div>
        </div>
    </section>
</div>