<div class="product-grid-item-container" (click)="onClick()">
    <div class="offers-number">
        <p>1,1 km</p>
    </div>
    <section class="product-grid-item">

        <img src="../../../../assets/img/7792180134516_02.jpg" alt="" class="product-grid-item">
        <h4 class="product-grid-item">Harina Pureza Refinada saaddsad sadssadsadsasdsadsaadsasdsadsa dsaadsdsasda1kg
        </h4>
        <div class="product-grid-item-price">
            <p>$199</p>
            <p>$99</p>
        </div>
        <div class="product-grid-item-action">
            <button>Agregar al carrito</button>
        </div>
    </section>
</div>