<app-header></app-header>
<app-search-bar></app-search-bar>

<section class="offer-container">
    <div class="offer-container-left">
        <img src="" alt="">
    </div>
    <div class="offer-container-right">
        <h4>Harina 0000 Pureza</h4>
        <p><span>$</span>139</p>
        <div class="final-price"><p><span>$</span>109</p></div>
        <div class="business-info">
            <p>Encontrala en:</p>
            <p>Carrefour</p>
            <p>ver mapa</p>
        </div>
    </div>

</section>