<app-header></app-header>
<app-search-bar></app-search-bar>

<section class="offer-container">
    <div class="offer-information">
        <div class="offer-container-left">
            <img class="offer-container-left-img" src="../../../../assets/img/7792180134516_02.jpg" alt="">
        </div>
        <div class="offer-container-right">
            <h4 class="offer-name">Harina 0000 Pureza</h4>
            <div class="old-price">
                <p><span>$</span>139</p>
            </div>
            <div class="final-price">
                <p><span>$</span>109</p>
                <p class="final-price-offer">30% off</p>
            </div>
            <div class="business-info">
                <p class="business-info-find">Encontrala en:</p>
                <p class="business-info-name">Carrefour</p>
                <p class="business-info-map">ver mapa</p>
            </div>
        </div>
    </div>
    <div class="business-information">
        <div id="business-map" class="business-map"></div>
        <div class="product-description">
            <p>Descripción</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus soluta nam aut placeat magni. Quo.</p>
        </div>
    </div>
</section>