.btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: $color-base-white;
    border-radius: $border-radius-1;
    font-weight: bold
}

.btn-action{
    @extend .btn;
    background-color: $color-base-green;
    
}

.btn-secondary{
    @extend .btn;
    background-color: $color-base-grey;
}

.btn-medium{
    padding: 1.2rem 4rem;
    font-size: $font-size-medium;

    @media only screen and (max-width: 768px) {
        padding: 1rem 2rem;
        font-size: $font-size-medium-micro;
    }
}