.input{
    border: none;
    outline: none;
    background-color: $color-base-white;
}

.input-small{
    @extend .input;
    border-radius: $border-radius-1;
    border: 1px solid $color-base-grey;
    text-align: left;
    padding: 0.5rem;
    width: 5rem;
    font-size: $font-size-medium-micro;
}
.input-filter-product-name{
    @extend .input;
    border-radius: $border-radius-1;
    border: 1px solid $color-base-grey;
    text-align: left;
    padding: 1.5rem 0.5rem;
    width: 100%;
    font-size: $font-size-medium;
}
.input-extra-large{
    @extend .input;
    border-radius: $border-radius-1;
    text-align: left;
    padding: 1.5rem 1rem;
    width: 45vw;
    font-size: $font-size-medium;
}

.input-10{
    width: 10% !important;
}

.input-20{
    width: 20% !important;
}