$margin-top-common: 3rem;
.offer-container{
    width: 75%;
    margin: 5rem auto;
    border-left: 1px solid $color-base-grey-light;
}

.offer-information{
    display: grid;
    grid-template-columns: 30% 70%;
    // background-color: red;
    border-top: 1px solid $color-base-grey-light;
    border-bottom: 1px solid $color-base-grey-light;
}

.offer-container-left{

    &-img{
        width: 100%;
        border-right: 1px solid $color-base-grey-light;
        margin-bottom: -0.4rem;
    }
}

.offer-container-right{
    background-color: $color-base-grey-light;
    padding: 2rem 0 0 3rem;
    position: relative;
    z-index: 10;
    .offer-name{
        font-size: $font-size-large-micro;
        font-weight: 400;
    }
    .old-price{
        margin-top: $margin-top-common;
        *{
            font-size: $font-size-medium;
            text-decoration: line-through;
        }
    }
    .final-price{
        display: flex;
        margin-top: 1rem;
        *{
            font-size: $font-size-large-extra;
            
        }
        &-offer{
            color: $color-base-green;
            margin-left: 1rem;
            font-weight: 400;
            font-size: $font-size-large-micro;
            // align-self: flex-end;
        }
    }
    .business-info{
        display: flex; 
        margin-top: $margin-top-common;
        &-find{
            font-size: $font-size-medium;
            margin-right: 0.5rem;
        }
        &-name{
            font-size: $font-size-medium;
            font-weight: 500;
            margin-right: 2rem;
        }
        &-map{
            font-size: $font-size-medium;
            color: $color-base-green;
            font-weight: 600;
        }
    }
}

.product-description{
    margin-top: $margin-top-common;
    &-header{
        font-size: $font-size-large-micro;
        font-weight: 400;
    }
    &-content{
        margin-top: 1rem;
        font-size: $font-size-medium;
    }
}

.offer-actions{
    position: relative;
    display: flex;
    margin-top: $margin-top-common;
    & button{
        z-index: 50;
    }
    & .button-cart{
        
        &-operation-subt{
            color: $color-base-green;
        }
        &-operation-add{
            margin-left: 1rem;
            color: $color-base-green;
        }
    }

}

.offer-list-container{
    width: 100%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.bussiness-form-list-container{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.bussiness-form-list{
    list-style: none;
}

.bussiness-form-list-item{
    margin-left: 2rem;
    margin-top: 2rem;
}

.offer-inputs-row{
    margin-top: 2rem;
}