.product-grid-container{
    margin: 3rem 10rem;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, $product-griditem-width-normal);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    // justify-content: center;
}

.product-grid-search-info{
    display: flex;
    margin-bottom: 2rem;
    & :not(:first-child){
        margin-left: 1rem;
    }

    &-name, span, &-result{
        font-size: $font-size-medium-extra;
        font-weight: 300;
    }
    &-result{
        color: $color-base-grey;
    }
}