$font-size-small-micro: 1rem;
$font-size-small: 1.5rem;
$font-size-small-extra: 2rem;

$font-size-medium-micro: 2.5rem;
$font-size-medium: 3rem;
$font-size-medium-extra: 3.5rem;

$font-size-large-micro: 4rem;
$font-size-large: 4.5rem;
$font-size-large-extra: 5rem;