@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

$font-family-roboto: 'Roboto', sans-serif;
$font-family-oleo: 'Oleo Script', cursive;

$font-size-medium-micro: 1rem;
$font-size-medium: 1.5rem;
$font-size-medium-extra: 2rem;

$font-size-large-micro: 2.5rem;
$font-size-large: 3rem;
$font-size-large-extra: 3.5rem;

$font-size-xlarge-micro: 4rem;
$font-size-xlarge: 4.5rem;
$font-size-xlarge-extra: 5rem;