<div class="home-content">
    <img src="../../../../assets/img/Design inspiration-bro.svg" class="home-content-svg">
    <div class="home-content-text">
        <div class="home-content-text-row">
            <h3>Tenemos más de 1000 ofertas para vos</h3>
            <p>Podés buscar por producto o por local, nosotros te vamos a mostrar los que estén más cerca de tu ubicación.
            </p>
        </div>
        <div class="home-content-text-row">
            <h3>¿Sos comerciante y querés publicar?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vel perspiciatis cum sequi iste laborum, quam blanditiis. Exercitationem nobis ipsum cum autem nostrum, enim dicta.
            </p>
        </div>
        <div class="home-content-text-row">
            <a class="btn-action btn-medium" [routerLink]="['/registrarme']">Registrarme</a>
        </div>
        
    </div>
</div>

