<div class="search-bar">
    <form [formGroup]="searchForm">
        <div class="search-bar-filter">
            <button class="btn-secondary btn-medium" (click)="onClick()">Filtrar</button>
        </div>
        <div class="search-bar-input">
            <input 
                type="text" 
                class="input-extra-large" 
                placeholder="Ingresá el nombre de..."
                formControlName="search"    
            >
        </div>
        <div class="search-bar-action">
            <button (click)="onSubmit()" class="btn-action btn-medium" >Buscar</button>
        </div>
    </form>
</div>
<app-filter></app-filter>