.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10rem;

    @media only screen and (max-width: 768px) {
        margin: 0;
    }
}

.search-bar{
    & form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}