.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 10rem;
}

.search-bar{
    & form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}